<div class="container">　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　
    <h2>ミンコエ掲示板へ</h2>
    <div class="content">
        <h2>新着掲示板</h2>
        <ul class="boards">
            <% @boards.each do |board| %>
            	<p><%= link_to board.title, board_path(board) %></p>
            <% end %>
        </ul>
        
        <h2>みんなが選ぶFXブローカーランキング！</h2>
        <h3>【速報】 一位は堂々のやくみつる！！！</h3>
        <p>昨日、世界初の『半ライス選手権』がついにアメリカのカリフォルニア州で行われた。<br>
        参加者は延べ3万人以上に及ぶなか、優勝したのは日本の漫画家兼タレントの、やくみつるさんだ！
        やくみつるさんは高校時代から半ライス部に所属しており、高校3年生の時には県大会に出場していたほどの実力の持ち主だ。優勝し…続きを読む</p>
    </div><!--content-->