<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <h3>以下の項目を修正して下さい</h3>
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>