html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,a,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure, footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;text-decoration:none;vertical-align:baseline;background:transparent;}html,body{width:100%;height:100%;}body{line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{ display:block;}ul,li,ol{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}ins{background-color:#ff9;color:#000;text-decoration:none;}mark{background-color:#ff9;color:#000; font-style:italic;font-weight:bold;}del{text-decoration: line-through;}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}input,select{vertical-align:middle;}img{vertical-align:top;font-size:0;line-height: 0;}

html, body{
    font-family: "ヒラギノ丸ゴ ProN","Hiragino Maru Gothic ProN", "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}


/*TOP BAR*/
.top-bar{
    width: 1100px;
    height: 40px;
    margin: 10px auto;
    display: block;
}

.top-bar a{
    display: inline-block;
    float: right;
}

.beg{
    line-height: 40px;
    padding: 0 2em;
    color: #2b2b2b;
}

.login{
    color: #f5f5f5;
    background: #e67e17;
    line-height: 20px;
    font-size: 18px;
    padding: 10px 2em;
    border-radius: 5px;
}

.signup{
    color: #f5f5f5;
    background: #3cb371;
    line-height: 20px;
    font-size: 18px;
    padding: 10px 2em;
    border-radius: 5px;
    margin-right: 1em;
}

/*HEADER*/
header{
    width: 100%;
    height: 80px;
    background: rgba(0,153,166,1);
}

.header-in{
    width: 1100px;
    height: 80px;
    margin: 0 auto;
}

.page-title{
    color: rgba(239,255,225,1);
    font-size: 37px;
    line-height: 55px;
}

.page-title i{
    color: #e64545;
    text-indent: 0.3em;
}

.header-in p{
    font-size: 15px;
    line-height: 1em;
    color: rgba(86,250,214,1);
}


/*CONTANER*/
.wrapper-container{
    width: 100%;
}

.wrapper-container h2{
    display: block;
    font-size: 28px;
    line-height: 2.5em;
    text-align: center;
    color: #f5f5f5;
    background: rgba(22,82,122,1);
    margin: 5px 0;
    letter-spacing: 0.2em;
}

.container{
    display: block;
    width: 1100px;
    margin: 0 auto;
}

.top-content{
    width: 100%;
    height: 400px;
}

.thumbnail{
    display: inline-block;
    width: 700px;
    height: 400px;
}

.thumbnail img{
    width: 100%;
    height: 100%;
}


/*TOP LIST*/
.top-list{
    display: inline-block;
    width: 400px;
    height: 400px;
    margin: 0;
    padding: 0;
    float: right;
}

.top-list li{
    width: 95%;
    height: 125px;
    background: rgba(239,255,225,1);
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
}

.top-list li:last-child{
    margin-bottom: 0;
}

.top-list li a{
    font-size: 30px;
    color: #2b2b2b;
    text-decoration: none;
    line-height: 125px;
}

.top-list li p{
    padding: 1em;
    line-height: 1.6em;
}

/*CONTENT*/
.content{
    width: 700px;
    background: rgba(255,250,234,1);
    float: left;
    padding: 0 0 100px 0;
    margin: 0 0 100px 0;
}

.content h3{
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 2em;
    background: rgba(0,153,165,1);
    color: #f5f5f5;
    font-size: 19px;
    line-height: 2.6em;
    text-indent: 2em;
}

.bro-pro{
    display: block;
    font-size: 15px;
    line-height: 1.7em;
    width: 80%;
    margin: 0 auto;
    margin-top: 2em;
    padding: 5%;
    background: #e6e6fa;
    color: #2b2b2b;
    border-radius: 8px;
}

.content table{
    display: block;
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    background: #f5f5f5;
}

.content table th, .content table td{
    line-height: 2em;
    padding: 10px;
    text-align: left;
    border: solid 1px rgba(0,153,165,1);
    box-sizing: border-box;
}

.content table th{
    width: 10em;
}

.content img{
    width: 100%;
    margin: 10px 0;
}

.content p {
    display: block;
    width: 90%;
    margin: 1em auto;
    font-size: 16px;
    line-height: 1.6em;
}

/*FORM IN CONTENT*/
.container form{
    width: 90%;
    margin: 0 auto;
}

.container form h3{
    display: block;
    width: 100%;
    margin: 100px 0 30px 0;
}

input, textarea, select, .uneditable-input{
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 20px;
}

label{
    font-size: 16px;
    line-height: 2em;
    text-indent: 1em;
}

input {
    height: auto !important;
}

.btn {
    width: 50%;
    background: #e67e17;
    color: #fff;
    border: none;
}


/*SIDE BAR*/
.side-bar{
    width: 390px;
    float: right;
    background: #f5f5f5;
}

.side-bar h2{
    display: block;
    font-size: 18px;
    line-height: 3em;
    text-align: center;
    background: rgba(54,56,66,1);
}

.side-bar p{
    padding: 1em;
}


/*FOOTER*/
footer{
    display: block;
    clear: both;
    height: 60px;
    background: #3db39f;
    color: #f5f5f5;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
}