html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,a,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure, footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;text-decoration:none;vertical-align:baseline;background:transparent;}html,body{width:100%;height:100%;}body{line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{ display:block;}ul,li,ol{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}ins{background-color:#ff9;color:#000;text-decoration:none;}mark{background-color:#ff9;color:#000; font-style:italic;font-weight:bold;}del{text-decoration: line-through;}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}input,select{vertical-align:middle;}img{vertical-align:top;font-size:0;line-height: 0;}

html, body{
    font-family: "ヒラギノ丸ゴ ProN","Hiragino Maru Gothic ProN", "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

/*HEADER*/
header{
    width: 100%;
    height: 80px;
    background: rgba(0,153,166,1);
}

.header-in{
    width: 1100px;
    height: 80px;
    margin: 0 auto;
}

.page-title{
    color: rgba(239,255,225,1);
    font-size: 37px;
    line-height: 55px;
}

.page-title i{
    color: #e64545;
    text-indent: 0.3em;
}

.header-in p{
    font-size: 15px;
    line-height: 1em;
    color: rgba(86,250,214,1);
}

.add-broker{
    display: none;
}

.show-menu{
    display: none;
}

/*TOP BAR*/
.top-bar{
    width: 1100px;
    height: auto;
    margin: 10px auto;
    display: block;
}

.top-bar a{
    display: inline-block;
    line-height: 20px;
    font-size: 18px;
    padding: 10px 1em;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 1em 10px 0;
}

.white-btn{
    color: #1e90ff;
    border: solid 1px #1e90ff;
}

.green-btn{
    color: #f5f5f5;
    background: #3cb371;
}

.orange-btn{
    color: #f5f5f5;
    background: #e67e17;
}

/*CONTANER*/
.wrapper-container{
    width: 100%;
}

.wrapper-container h2{
    display: block;
    font-size: 22px;
    line-height: 2.5em;
    text-align: center;
    color: #f5f5f5;
    background: rgba(22,82,122,1);
    margin: 5px 0;
    letter-spacing: 0.1em;
}

.container{
    display: block;
    width: 1100px;
    margin: 0 auto;
}

.top-content{
    width: 100%;
    height: 400px;
}

.thumbnail{
    display: inline-block;
    width: 700px;
    height: 400px;
}

.thumbnail img{
    width: 100%;
    height: 100%;
}

/*TOP LIST*/
.top-list{
    display: inline-block;
    width: 400px;
    height: 400px;
    margin: 0;
    padding: 0;
    float: right;
}

.top-list li{
    width: 95%;
    height: 125px;
    background: rgba(239,255,225,1);
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
}

.top-list li:last-child{
    margin-bottom: 0;
}

.top-list li a{
    font-size: 30px;
    color: #2b2b2b;
    text-decoration: none;
    line-height: 125px;
}

.top-list li p{
    padding: 1em;
    line-height: 1.6em;
}

/*CONTENT*/
.content{
    width: 700px;
    background: rgba(255,250,234,1);
    float: left;
    padding: 0 0 100px 0;
    margin: 10px 0 100px 0;
}

.content h2{
    font-size: 18px;
    margin: 0 0 20px 0;
}

.content h2 a{
    color: #f5f5f5;
}

.content h3{
    display: block;
    width: 90%;
    margin: 2em auto;
    background: rgba(0,153,165,1);
    color: #f5f5f5;
    font-size: 17px;
    line-height: 2.6em;
    text-indent: 2em;
}

.content h4{
    display: block;
    width: 90%;
    font-size: 17px;
    color: #008080;
    text-indent: 1em;
    margin: 0 auto;
    padding: 0.5em 0;
    border-left: solid 3px #008080;
    background: #fff;
    
}

.content table{
    display: block;
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    background: #f5f5f5;
}

.content table th, .content table td{
    line-height: 2em;
    padding: 10px;
    text-align: left;
    border: solid 1px rgba(0,153,165,1);
    box-sizing: border-box;
}

.content table th{
    width: 10em;
}

.content img{
    width: 100%;
    margin: 10px 0;
}

.content p {
    display: block;
    width: 90%;
    margin: 1em auto;
    font-size: 16px;
    line-height: 1.6em;
}

.users{
    width: 90%;
    margin: 0 auto;
}

.user-edit{
    display: block;
    color: #777;
    padding: 1em 0;
    width: 5em;
    text-align: center;
    border-radius: 8px;
    margin: 0 auto;
    font-size: 15px;
}

/*FORM IN CONTENT*/
.container form{
    width: 90%;
    margin: 0 auto;
}

.container form h3{
    display: block;
    width: 100%;
    margin: 20px 0 30px 0;
}

input, textarea, select, .uneditable-input{
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 16px;
    padding: 0.5em 0;
    text-indent: 0.5em;
}

label{
    font-size: 16px;
    line-height: 2em;
    text-indent: 1em;
}

input {
    height: auto !important;
}

.btn {
    width: 50%;
    background: #e67e17;
    color: #fff;
    border: none;
}


/*SIDE BAR*/
.side-bar{
    width: 390px;
    float: right;
    background: #f5f5f5;
    text-align: center;
}

.side-bar h2{
    display: block;
    font-size: 18px;
    line-height: 3em;
    text-align: center;
    background: rgba(54,56,66,1);
}

.side-bar p{
    padding: 1em;
}

.side-bar a{
    display: block;
    font-size: 18px;
    color: #2b2b2b;
    line-height: 40px;
    text-indent: 1em;
    transition: all 0.2s ease-in;
}

.side-bar a:hover{
    color: #999;
}

/*FOOTER*/
footer{
    display: block;
    clear: both;
    height: 60px;
    background: #3db39f;
    color: #f5f5f5;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
}

/*ERROE*/
#error_explanation{
    display: block;
}

.alert-danger{
    color: #ff6347;
}

#error_explanation ul li{
    color: #ff6347;
    display: inline-block;
    padding: 10px;
    border: solid 1px #ff6347;
    margin: 0 10px 15px 0;
    border-radius: 5px;
    font-weight: bold;
    transform: rotateZ(-4deg);
    font-family: "HanziPen TC"; font-weight: bold;
}

.alert h3{
    background: #ff6347;
}

.wrapper-alert{
    display: block;
    text-align: left;
    width: 1100px;
    margin: 0 auto;
}

.alert{
    line-height: 2em;
    color: #1e90ff;
}

/*BROKERS*/
.brokers{
    width: 90%;
    margin: 0 auto;
}

.brokers li {
    margin: 60px 0;
}

.reviews{
    margin: 0;
    padding: 50px;
}

.review{
    margin: 20px 0;
    background: #fff;
    padding: 15px;
}

.eva-t{
    display: block;
    border:solid 2px #2b2b2b;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    background: #fff;
}

.eva-s{
    display: inline-block;
    box-sizing: border-box;
    border: solid 10px #cdcdcd;
    padding: 1em;
    margin:0;
}

.eva-li{
    padding: 0.5em 0;
    letter-spacing: 0.1em;
}

.eva-li span{
    display: inline-block;
    width: 5em;
    color: #2b2b2b;
    font-weight: bold;
}

.user-icon{
    width: 150px;
    height: 150px;
    margin: 20px auto;
}

.user-icon img{
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

/*boards*/
.boards{
    width: 90%;
    margin: 20px auto;
}

.board{
    width: 100%;
    height: auto;
    margin: 20px 0;
    padding: 20px 0 20px 10px;
    border-left: solid 3px #999;
}

.board_thum{
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    background: #999;
}

.board_thum img{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 3px;
}

.board a{
    display: inline-block;
    width: 85%;
    font-size: 18px;
    line-height: 60px;
    text-indent: 1em;
}

.board p{
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    word-wrap: break-word;
}

/*writings*/
.writings {
    width: 90%;
    margin: 20px auto;
}

.writings li p span{
    color: #993842;
}

.writings li{
    padding: 20px 0;
    margin: 10px;
}

@media (max-width: 1100px){
    
    .top-bar, .header-in, .container{
        width: 100%;
    }
    
    .content, .side-bar{
        display: block;
        width: 95%;
        float: none;
        margin: 50px auto;
        padding: 0;
        clear: both;
    }
    
    header{
        position: relative;
        width: 100%;
        height: auto;
    }
    
    .header-in{
        height: auto;
        margin: 0 auto;
    }
    
    .page-title{
        display: block;
        font-size: 27px;
        line-height: 2em;
        text-align: center;
        text-indent: 0em;
    }
    
    .show-menu{
        position: absolute;
        display: block;
        font-size: 27px;
        line-height: 2em;
        width: 2em;
        text-align: center;
        color: #fff0e6;
        top: 0;
        bottom: 0;
        right: 0em;
        margin: auto;
    }
    
    .header-in p, .add-broker{
        display: none;
    }
    
    .top-bar{
        display: none;
        height: auto;
        margin: 0px auto;
        margin-bottom: 0px;
        border-top: solid 1px #2b2b2b;
        overflow: hidden;
    }
    
    .top-bar a{
        display: block;
        line-height: 1em;
        font-size: 20px;
        padding: 0.5em 1em;
        border-radius: 0px;
        box-sizing: border-box;
        margin-right: 0;
        border-bottom: solid 1px #2b2b2b;
    }
    
    .white-btn{
        color: #2b2b2b;
        border: none;
    }
    
    .wrapper-container h2{
        display: block;
        font-size: 20px;
        line-height: 2.5em;
        text-align: center;
        color: #f5f5f5;
        background: rgba(22,82,122,1);
        margin: 10px 0 0 0;
        letter-spacing: 0.1em;
    }
    
    .thumbnail{
        display: block;
        width: 90%;
        height: auto;
        margin: 10px auto;
    }
    
    /*TOP LIST*/
    .top-list{
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    
    .top-list li{
        width: 90%;
        height: auto;
    }
    
    .top-list li a{
        font-size: 20px;
        line-height: 3em;
    }
    
    .top-list li p{
        text-align: left;
    }
    
    /*CONTENT*/
    .content{
    }
    
    .content h2{
        font-size: 16px;
        margin: 0;
    }
    
    .content h3{
        display: block;
        width: 90%;
        margin: 2em auto;
        font-size: 15px;
        line-height: 2.6em;
        text-indent: 0.5em;
        text-align: left;
    }
    
    .content h4{
        font-size: 15px;
    }
    
    .content P{
        font-size: 15px;
    }
    
    .content table{
        overflow: hidden;
    }
    
    .content table td{
        white-space: normal;
    }
}