<div class="top-bar">
    <a class="login" href="/login">ログイン</a>
    <a class="signup" href="/signup">新規登録</a>
    <a class="beg" href="#">🔰 初めての方へ</a>
    <%= link_to "ぷるぷる", 'addbroker' %>
</div><!--top-bar-->

<header>
    <div class="header-in">
        <h1><%= link_to "ミンコエ", root_path, id: "logo" , class: "page-title" %></h1>
        <p>みんなでレビューしてみんなでつくるランキングサイト</p>
    </div><!--header-in-->
</header>