<div class="top-bar">
    <a class="login" href="/login">ログイン</a>
    <a class="signup" href="/signup">新規登録</a>
    <a class="beg" href="#">🔰 初めての方へ</a>
    <a href="/addbroker">ぷるぷる</a>
</div><!--top-bar-->

<header>
    <div class="header-in">
        <h1 class="page-title">ミンコエ<i class="fa fa-heart" aria-hidden="true"></i></h1>
        <p>みんなでレビューしてみんなでつくるランキングサイト</p>
    </div><!--header-in-->
</header>