<div class="side-bar">
        <h2>SIDEBAR</h2>
        <h3>オススメ記事</h3>
        <ul>
            <li><%= link_to "ブローカーランキンぐっ(๑•̀ㅂ•́)و✧",'#' %></li>
            <li><%= link_to "えっ、私の勝率低すぎ…",'#' %></li>
            <li><%= link_to "",'#' %></li>
            <li><%= link_to "",'#' %></li>
        </ul>
    </div><!--side-bar-->